body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  padding: 16px 0;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-colour {
  color: #2e2f42;
}

.open-menu-btn {
  background-color: transparent;
  cursor: pointer;
  line-height: none;
  border: none;
}

.mob-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 999;
}

.modal-close-mob {
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.studio-mob {
  color: #404bbf;
}

.navigation-list {
  display: none;
}

.address-mob-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-container-mob {
  margin-bottom: auto;
}
.address-mob-link {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.tel-mob {
  color: #4d5ae5;
}

.mob-icons-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 48px;
}

.address {
  display: none;
}

.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-mob.jpg);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  max-width: 320px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (-webkit-min-device-pizel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image-mob-2x.jpg);
  }
}
.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-align: center;
}

.hero-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 72px;
}

.feautures-icons-wrap {
  display: none;
}

.features-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team .container {
  width: 296px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-member {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-icon {
  width: 40px;
  height: 40px;
}
.team-icons-background {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}

.team-icons-background:hover,
.team-icons-background:focus {
  background-color: #404bbf;
}

.team-icons {
  fill: #f4f4fd;
  margin: auto;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text-cover {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text-cover {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.porfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-wrap {
  margin-bottom: 72px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.logo-footer-color {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-icons-wrap {
  max-width: 208px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-subscripe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
}

.footer-icons-item {
  width: calc((100% - 3 * 16px) / 4);
}

.footer-icons-background {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}

.footer-icons-background:hover,
.footer-icons-background:focus {
  background-color: #31d0aa;
}

.footer-icons {
  fill: #f4f4fd;
}

.footer-modal-subtitle {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.user-email-address {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  fill: none;
  background-color: transparent;
  outline: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  color: #ffffff;
}

.user-email-address::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 16px;
  color: #ffffff;
  opacity: 0.6;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscripe-icon {
  fill: #fff;
  margin-left: 16px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  /* width: 408px; */
  width: 288px;
  /* min-height: 584px; */
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 72px 24px 24px 24px; */
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: transparent;
  width: 24px;
  height: 24px;
  border: transparent;
  padding: 0;
  stroke-width: 1px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.cross-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* max-width: 360px; */
  max-width: 256px;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  /* padding-left: 38px; */
  padding-left: 34px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-lable {
  display: block;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  line-height: 1.17;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  fill: transparent;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-text:hover,
.modal-text:focus {
  border: 1px solid #4d5ae5;
}

.send {
  margin-top: 24px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field-checkbox {
  margin-bottom: 24px;
  min-width: 256px;
}

.policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-icon-wrap {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-text {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-check:checked + .policy-text span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    padding: 0;
  }

  .header-container {
    display: flex;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    margin-right: 120px;
  }

  .open-menu-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .nav-link.current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background-color: #404bbf;
    width: 100%;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .address-container {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
  }

  .address-link {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .hero {
    max-width: 768px;
  }

  @media screen and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet.jpg);
    }
  }
  @media screen and (-webkit-min-device-pizel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
    text-align: left;
  }

  .features-title {
    text-align: left;
  }

  .features-list {
    width: 100%;
    gap: 24px;
    row-gap: 72px;
  }

  .team .container {
    width: 768px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .team-list {
    gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .footer .container {
    width: 768px;
    padding-left: 108px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-wrap {
    margin-right: 24px;
  }

  .logo-footer {
    justify-content: flex-start;
  }
  .footer-text {
    max-width: 264px;
  }

  .footer-icons-wrap {
    margin: 0;
  }

  .footer-subtitle {
    justify-content: flex-start;
  }

  .footer-subscripe {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-modal-subtitle {
    justify-content: flex-start;
  }

  .user-email-address {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-title {
    max-width: 360px;
  }

  .modal-field-checkbox {
    min-width: 360px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header {
    padding: 0;
  }

  .navigation-container {
    display: flex;
    align-items: center;
  }

  .mob-menu {
    display: none;
  }

  .logo {
    margin-right: 76px;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background-color: #404bbf;
    width: 100%;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .address-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 40px;
    flex-wrap: nowrap;
    row-gap: 0;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  @media screen and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-background.jpg);
    }
  }
  @media screen and (-webkit-min-device-pizel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-desctop-2x.jpg);
    }
  }
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 45px;
  }

  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
    row-gap: none;
  }

  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .feautures-icons-wrap {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
  }

  .features-text {
    font-weight: 400;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .team-list {
    justify-content: center;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer .wrap {
    display: flex;
    align-items: baseline;
  }

  .footer .container {
    width: 1158px;
    padding: 0 15px;
    flex-wrap: nowrap;
  }
  .footer-wrap {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .logo-footer {
    display: inline-block;
    max-width: 264px;
  }

  .logo-footer-color {
    max-width: 264px;
  }

  .footer-text {
    min-width: 264px;
  }

  .footer-icons-list {
    max-width: 208px;
  }

  .footer-email-wrap {
    margin-left: 80px;
  }

  .footer-subscripe {
    display: flex;
    gap: 24px;
  }

  .user-email-address {
    width: 264px;
    padding-left: 16px;
  }
}
